<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Posts</h1>
    <div class="container" style="width: 1050px;">
        {% for post in all_posts %}
        <div style="border:3px solid black; display: inline-block; width: 250px; height: 300px; overflow: auto; margin: 20px; padding: 10px;">
            <p>{{post.content}}</p>
        </div>
        {% endfor %}
    </div>

    <form action="add-post" method="POST">
        {% csrf_token %}
        <p>Add a note:</p>
        <textarea name="content" cols="30" rows="10"></textarea>
        <button>Post It!</button>
    </form>
</body>
</html>